html {
  scroll-behavior: smooth;
}

#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.flickity-enabled:focus, .flickity-enabled:focus-visible .flickity-viewport {
  outline: none;
}

.flickity-viewport {
  outline: none;
  overflow: hidden;
}
